/* Styles go here */
body{
  background-image: url(../assests/images/blockchain.jpg);
  background-repeat: repeat;
  background-color: aqua;
}

.downloads{
  position: absolute;
  left: 200px;
  top: 500px;
  list-style-type: none;
  margin: 0;
  padding: 0.2cm;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: around;
  align-items: center;
  width: 75%;
  border: 0.08cm;
  border-color: blue;
  border-style: dashed;
  
 
}

.btn {
  background: #1594e8;
  background-image: -webkit-linear-gradient(top, #1594e8, #313e45);
  background-image: -moz-linear-gradient(top, #1594e8, #313e45);
  background-image: -ms-linear-gradient(top, #1594e8, #313e45);
  background-image: -o-linear-gradient(top, #1594e8, #313e45);
  background-image: linear-gradient(to bottom, #1594e8, #313e45);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 18px 23px 11px 18px;
  text-decoration: none;
}

.btn:hover {
  background: #8da6b5;
  background-image: -webkit-linear-gradient(top, #8da6b5, #3498db);
  background-image: -moz-linear-gradient(top, #8da6b5, #3498db);
  background-image: -ms-linear-gradient(top, #8da6b5, #3498db);
  background-image: -o-linear-gradient(top, #8da6b5, #3498db);
  background-image: linear-gradient(to bottom, #8da6b5, #3498db);
  text-decoration: none;
}

.nav-links{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 0.6cm;
}
.list-name{
  
  font-style: italic;
  font-weight: bold;
  list-style: none;

}
.dj{
  font-size: 50px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 0 0 0;
  outline: none;
  overflow: hidden;
  padding: 12px 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}.button-10 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 0 0 10px;
  outline: none;
  overflow: hidden;
  padding: 12px 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
}

.button-10:disabled {
  cursor: default;
}

.button-10:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}